@{
    ViewBag.Title = "Flytta In";
}

<div id="query">
    <form>
        <input type="text" name="query" />
        <input type="submit" />
    </form>
</div>

<ul id="result">
    <li id="communication">
        Till Jobbet
    </li>
    <li id="environment">
        Luft och Milj&ouml;
    </li>
    <!-- För varje sektion, jobb, dagis, skola  -->
</ul>
